
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unauthorised Request</h2>
<p>
    You do not have permission to access the requested resource due to security restrictions. Please contact your system administrator.
</p>

